// brightspot-base
@brand-primary:	#259acd;
@brand-dark:	#20343f;
@brand-accent:	#fc0029;

// bsp-carousel 
@bsp-carousel-bower-path:					'../../../bower_components';
@bsp-carousel-slick-path: 					'@{bsp-carousel-bower-path}/slick-carousel/slick';
@bsp-carousel-nav-size: 					40px;
@bsp-carousel-nav-margin: 					15px;
@bsp-carousel-font-path: 					'../../fonts';
@bsp-carousel-font-name: 					'bsp-carousel';
@bsp-carousel-font-char-circle:				"\2022";
@bsp-carousel-font-char-fwd-arrow:			"\f054";
@bsp-carousel-font-char-fwd-arrow-invert:	"\2192";
@bsp-carousel-font-char-prev-arrow:			"\f053";
@bsp-carousel-font-char-prev-arrow-invert:	"\2190";

// bsp-carousel-gallery-plugin
@bsp-carousel-gallery-background: @brand-primary;
@bsp-carousel-gallery-border-color: @brand-accent;
@bsp-carousel-gallery-color: @brand-dark;