/** base.less */
@bsp-carousel-nav-size: '40px';
@bsp-carousel-nav-margin: '15px';

/** slick-theme.less */
@bsp-carousel-bower-path: '../../bower_components';
@bsp-carousel-slick-path: '@{bsp-carousel-bower-path}/slick-carousel/slick';
@bsp-carousel-font-path: '../fonts';
@bsp-carousel-font-name: 'bsp-carousel';
@bsp-carousel-font-char-circle: "\2022";
@bsp-carousel-font-char-fwd-arrow: "\f054";
@bsp-carousel-font-char-fwd-arrow-invert: "\2192";
@bsp-carousel-font-char-prev-arrow: "\f053";
@bsp-carousel-font-char-prev-arrow-invert: "\2190";