body {
	background: #d3d3d3;
	font-family: sans-serif;
}
section {
	padding-bottom: 25px;
}
.demo {
	margin: 0 25px;
}
.slide {
	background: #EE7942;
	border: 1px #000 solid;
	display: inline-block;
	height: 100px;
	padding-top: 50px;
	text-align: center;
}
.demo-thumbnails {
	margin-right: 17px;
}
.demo-thumbnails .slide {
	margin-right: 10px;
}
.demo-thumbnav.bsp-carousel-stage {
	margin: 0 auto;
	width: 300px;
}
.demo-thumbnav.bsp-carousel-nav img {
	height: 100%;
	width: 100%;
}